* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  list-style: none;
}
header {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 2px 0px #ccc;
  background-color: white;
  border-bottom: 1px solid rgb(238, 238, 238);
  gap: 30px;
}
.headerLeft {
  display: flex;
  align-items: center;
}
.logo {
  padding: 22px 30px;
  border-right: 1px solid #ccc;
}
.headerAddress {
  padding: 20px 30px;
}
.headerAddress h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.headerAddress p {
  font-size: 14px;
}
.headerSearch {
  flex-grow: 1;
  display: flex;
  background-color: #f8f8f8;
  border: 1px solid #f4f4f4;
  border-radius: 15px;
}
.headerSearch button {
  padding: 15px;
  background-color: transparent;
  border: none;
}
.headerSearch input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
}
.headerSearch inpu:focus {
  outline: note;
}
.headerBtn {
  display: flex;
  margin-right: 40px;
  gap: 40px;
}
.headerBtn button{
  font-size: 15px;
  border: none;
  background-color: transparent;
  padding: 15px;
}
.headerBtn button:last-child{
  background-color: rgb(12, 131, 31);
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.banner-section {
  max-width: 1280px;
  margin: auto;
}
.banner-section img {
  width: 100%;
}

.widget-section {
  max-width: 1280px;
  margin: auto;
  display: flex;
  gap: 10px;
}
.widget-section .widget-card {
  flex-basis: 26%;
  margin: 0.5%;
}
.widget-card img {
  width: 100%;
}

.categories-section {
  display: flex;
  max-width: 1280px;
  margin: auto;
  flex-wrap: wrap;
}
.category-item {
  flex-basis: 12.5%;
}
.category-item img {
  width: 100%;
}


.product-section {
  max-width: 1280px;
  margin: auto;
}
.product-heading {
  margin: 20px 0px;
}
.product-heading h2 {
  font-size: 22px;
}
.product-cards {
  width: 100%;
  display: flex;
  margin: 30px 0px;
  flex-wrap: wrap;
  gap: 2%;
}
.product-card {
  flex-basis: 15%;
  border: 1px solid #ccc;
  border-radius: 10px;
  border: 0.8px solid #dddada;
  box-shadow: 0px 0px 5px 1px #e7e6e6;
  margin-bottom: 20px;
}
.product-image {
  text-align: center;
  padding: 15px;
}
.product-card img {
  width: 70%;
}
.product-image p {
  background-color: #f8f8f8;
  display: flex;
  width: 70px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 5px;
}
.product-image p img {
  width: 25%;
}
.product-details {
  padding: 0px 10px;
}
.product-details h3 {
  font-size: 12px;
  margin-bottom: 14px;
}
.product-details p {
  font-size: 12px;
  color: #848080;
}
.product-details .price {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.product-details .price b {
  font-size: 14px;
}
.product-details .price button {
  background-color: rgb(247, 255, 249);
  color: rgb(49, 134, 22);
  border: 1px solid rgb(49, 134, 22);
  border-radius: 8px;
  padding: 8px 18px;
  font-weight: 600;
}
footer {
  padding: 40px 0px 0px 0px;
}
.footer-container {
  max-width: 1280px;
  margin: auto;
}
.footer-links {
  width: 100%;
  display: flex;
}
.links-left {
  width: 30%;
}
.links-right {
  width: 70%;
}
.links-left h4 {
  margin-bottom: 30px;
}
.useful-links {
  display: flex;
  width: 100%;
}
.useful-links ul {
  flex-basis: 33%;
}
.useful-links li a {
  color: rgba(102, 102, 102);
  margin-bottom: 10px;
  display: block;
  font-weight: 300;
}
.links-right h4 {
  margin-bottom: 30px;
}
.category-links {
  display: flex;
}
.category-links li a {
  color: rgba(102, 102, 102);
  margin-bottom: 10px;
  display: block;
  font-weight: 300;
}
.category-links ul {
  flex-basis: 33%;
}
